* {
    min-width: 0px;
}

:root {
    --primary-colour: rgb(90, 160, 120);
    --seondary-colour: rgb(18, 36, 30);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes crt-text {
    0% {
        text-shadow: 0px 0px 0.25em var(--primary-colour),
     0.0375em 0px 0.0825em rgba(255, 0, 0, 0.75), 
     -0.0375em 0px 0.0825em rgba(0, 0, 255, 0.75);
    } 50% {
        text-shadow: 0px 0px 0.25em var(--primary-colour),
     -0.0375em 0px 0.0825em rgba(255, 0, 0, 0.75), 
     0.0375em 0px 0.0825em rgba(0, 0, 255, 0.75);
    } 100% {
        text-shadow: 0px 0px 0.25em var(--primary-colour),
     0.0375em 0px 0.0825em rgba(255, 0, 0, 0.75), 
     -0.0375em 0px 0.0825em rgba(0, 0, 255, 0.75);
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--seondary-colour);
}

p {
    text-align: center;
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;

    color: var(--primary-colour);

    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .45em;
    animation: typing 1.5s steps(40, end), crt-text 0.5s infinite;
}

p::before {
    content: "> ";
}

